Exploracion, Transformacion y carga del dataset "User_items"

In [1]:
import json
import pandas as pd
import gzip
import numpy as np

In [3]:
ruta_archivo2=r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Steam\australian_users_items.json"

In [4]:
with open(ruta_archivo2, 'r', encoding='utf-8') as w:
    data = w.readlines()
    data = [eval(line.strip()) for line in data]
df2=pd.DataFrame(data)

Luego de su aperuta, se procede a verificar el contenido del dataframe creado

In [5]:
df_items2 = pd.json_normalize(data, record_path=['items'], meta=['steam_id','items_count','user_id', 'user_url'] )
df_items2

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

Se eliminan columnas inherentes al contenido por la cual lo vamos a usar

In [6]:
df_items2.drop(columns=["items_count","steam_id", "user_url"], inplace=True)
df_items2.head(3)

,item_id,item_name,playtime_forever,playtime_2weeks,user_id
0,10,Counter-Strike,6,0,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479

In [9]:
df_items2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   user_id           object
dtypes: int64(2), object(3)
memory usage: 196.6+ MB

Se eliminan entradas duplicadas teniendo en cuenta como referencia dos columnas

In [10]:
df_items2.drop_duplicates(subset=["item_name","user_id"], inplace=True)

In [11]:
df_items2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5073726 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
 4   user_id           object
dtypes: int64(2), object(3)
memory usage: 232.3+ MB

Se procede a guardar el dataset

In [13]:
df_items2.to_csv(".\DataSets-Clean\user_items_clean.csv", index=False)