Se cargan librerias a utilizar

In [1]:
import pandas as pd
import numpy as np
import os

Se crean los dataframes a partir de los archivos csv optimizados

In [6]:
df_reviews=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\reviews_clean.csv",encoding="utf-8")
df_games=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\steam_games_clean.csv", encoding="utf-8")
df_items=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\user_items_clean.csv", encoding="utf-8")

In [4]:
df_reviews.head(1)

   item_id  recommend            user_id  sentiment_score  posted_year
0     1250       True  76561197970982479                2         2011

Se modifica la estructura de los datos y se renombran columnas

In [7]:
df_games.rename(columns={"id":"item_id", "title":"item_name"}, inplace=True)
df_games["item_id"]=df_games["item_id"].astype("Int64")

df_games.head(2)

,item_name,item_id,developer,Action,Casual,Indie,Simulation,Strategy,Free to Play,RPG,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,Lost Summoner Kitty,761140,Kotoshiro,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ironbound,643980,Secret Level SRL,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

Union de los dataframe "df_games" y "df_items"

In [8]:
#union df_games con df_items con "item_name"
df_games_items=pd.merge(df_games,df_items, on="item_name", how="inner")

In [9]:
df_games_items.shape

(3146114, 29)

In [10]:
columnas_eliminar=["item_id_x", "playtime_2weeks"]
df_games_items.drop(columnas_eliminar, axis=1, inplace=True)
df_games_items.rename(columns={"item_id_y":"item_id"}, inplace=True)

In [11]:
df_games_items=df_games_items[df_games_items["playtime_forever"]!=0]

In [12]:
df_games_items.shape

(2143966, 27)

In [13]:
columnas_ordenadas=["item_id", "item_name", "developer","user_id", "playtime_forever", "Action", "Casual", "Indie",
                    "Simulation", "Strategy", "Free to Play", "RPG", "Sports", "Adventure", "Racing", "Early Access",
                    "Massively Multiplayer", "Animation &amp; Modeling", "Video Production", "Utilities", "Web Publishing",
                    "Education", "Software Training", "Design &amp; Illustration", "Audio Production", "Photo Editing", 
                    "Accounting"]
df_games_items=df_games_items[columnas_ordenadas]

In [ ]:
df_games_items.reset_index(drop=True)

In [18]:
df_games_items.head(10)

,item_id,item_name,developer,user_id,playtime_forever,Action,Casual,Indie,Simulation,Strategy,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,282010,Carmageddon Max Pack,Stainless Games Ltd,saint556,13,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,282010,Carmageddon Max Pack,Stainless Games Ltd,chidvd,110,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,282010,Carmageddon Max Pack,Stainless Games Ltd,aerpub,13,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,282010,Carmageddon Max Pack,Stainless Games Ltd,lucifer666678,8,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,282010,Carmageddon Max Pack,Stainless Games Ltd,FilthyDeath,12,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,282010,Carmageddon Max Pack,Stainless Games Ltd,76561198018144075,49,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,282010,Carmageddon Max Pack,Stainless Games Ltd,666NeCrO,261,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,282010,Carmageddon Max Pack,Stainless Games Ltd,76561198001688490,2,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,282010,Carmageddon Max Pack,Stainless Games Ltd,76561197974288321,14,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Para mayor legibilidad del dataframe y el costo de trabajo, se decide eliminar las filas de los jugadores con mas de 100 horas jugadas por juego, de la columna "playtime_forever"

In [22]:
df_games_items=df_games_items.drop(df_games_items[df_games_items["playtime_forever"]>100].index)
df_games_items=df_games_items.reset_index(drop=True)

In [23]:
df_games_items.shape

(793271, 27)

################################

In [24]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item_id          59305 non-null  int64
 1   recommend        59305 non-null  bool
 2   user_id          59305 non-null  object
 3   sentiment_score  59305 non-null  int64
 4   posted_year      59305 non-null  int64
dtypes: bool(1), int64(3), object(1)
memory usage: 1.9+ MB

In [25]:
df_reviews.rename(columns={"item_id_x":"item_id"}, inplace=True)
df_reviews.head(2)

   item_id  recommend            user_id  sentiment_score  posted_year
0     1250       True  76561197970982479                2         2011
1    22200       True  76561197970982479                2         2011

Se renombra columnas preparando el dataframe para union

In [26]:
df_games.rename(columns={"id":"item_id", "title":"item_name"}, inplace=True)
df_games["item_id"]=df_games["item_id"].astype("Int64")

df_games.head(2)

,item_name,item_id,developer,Action,Casual,Indie,Simulation,Strategy,Free to Play,RPG,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,Lost Summoner Kitty,761140,Kotoshiro,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ironbound,643980,Secret Level SRL,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

Union de los dataframe "df_reviews" y "df_games"

In [27]:
df_reviews_games=pd.merge(df_reviews, df_games, on="item_id", how="inner")

In [28]:
df_reviews_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50643 entries, 0 to 50642
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_id                    50643 non-null  int64
 1   recommend                  50643 non-null  bool
 2   user_id                    50643 non-null  object
 3   sentiment_score            50643 non-null  int64
 4   posted_year                50643 non-null  int64
 5   item_name                  50643 non-null  object
 6   developer                  50361 non-null  object
 7   Action                     50643 non-null  int64
 8   Casual                     50643 non-null  int64
 9   Indie                      50643 non-null  int64
 10  Simulation                 50643 non-null  int64
 11  Strategy                   50643 non-null  int64
 12  Free to Play               50643 non-null  int64
 13  RPG                        50643 non-null  int64
 14  Sports                     50643 non-null  int64
 15  Adventure                  50643 non-null  int64
 16  Racing                     50643 non-null  int64
 17  Early Access               50643 non-null  int64
 18  Massively Multiplayer      50643 non-null  int64
 19  Animation &amp; Modeling   50643 non-null  int64
 20  Video Production           50643 non-null  int64
 21  Utilities                  50643 non-null  int64
 22  Web Publishing             50643 non-null  int64
 23  Education                  50643 non-null  int64
 24  Software Training          50643 non-null  int64
 25  Design &amp; Illustration  50643 non-null  int64
 26  Audio Production           50643 non-null  int64
 27  Photo Editing              50643 non-null  int64
 28  Accounting                 50643 non-null  int64
dtypes: bool(1), int64(25), object(3)
memory usage: 10.9+ MB

In [29]:
df_reviews_games.head(2)

,item_id,recommend,user_id,sentiment_score,posted_year,item_name,developer,Action,Casual,Indie,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,1250,True,76561197970982479,2,2011,Killing Floor,Tripwire Interactive,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1250,True,death-hunter,2,2015,Killing Floor,Tripwire Interactive,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Union del ultimo dataframe, para dejar uno solo con toda los datos necesarios

In [56]:
df_merged=pd.merge(df_games_items, df_reviews, on="user_id")

Se verifica la estructura de los datos, eliminando columnas repetidas y renombrandolas, dando formato para su correcta visualizacion

In [57]:
df_merged.columns

Index(['item_id_x', 'item_name', 'developer', 'user_id', 'playtime_forever',
       'Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Free to Play',
       'RPG', 'Sports', 'Adventure', 'Racing', 'Early Access',
       'Massively Multiplayer', 'Animation &amp; Modeling', 'Video Production',
       'Utilities', 'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting', 'item_id_y', 'recommend', 'sentiment_score',
       'posted_year'],
      dtype='object')

In [ ]:
df_merged.rename(columns={"item_id_x":"item_id"}, inplace=True)
df_merged.drop(columns="item_id_y")

In [64]:
columnas_ordenadas2=['item_id', 'item_name', 'developer', 'user_id', 'playtime_forever',
       'recommend', 'sentiment_score', 'posted_year','Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Free to Play',
       'RPG', 'Sports', 'Adventure', 'Racing', 'Early Access',
       'Massively Multiplayer', 'Animation &amp; Modeling', 'Video Production',
       'Utilities', 'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting' ]
df_merged=df_merged[columnas_ordenadas2]

In [67]:
df_merged.shape

(1224076, 30)

Se Guarda el dataframe en nuevo CSV optimizado

In [66]:
df_merged.to_csv("Df_Merged.csv",index=False)