# Creacion Final del Dataset, con la union de los anteriores ya optimizados para su uso

Se cargan librerias a utilizar

In [1]:
import pandas as pd
import numpy as np
import os

Se crean los dataframes a partir de los archivos csv optimizados

In [2]:
df_reviews=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Clean\reviews_clean.csv",encoding="utf-8")
df_games=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Clean\steam_games_clean.csv", encoding="utf-8")
df_items=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Clean\user_items_clean.csv", encoding="utf-8")

In [4]:
df_games.head(1)

,title,id,developer,Action,Casual,Indie,Simulation,Strategy,Free to Play,RPG,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,Lost Summoner Kitty,761140.0,Kotoshiro,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Se modifica la estructura de los datos y se renombran columnas

In [5]:
df_games.rename(columns={"id":"item_id", "title":"item_name"}, inplace=True)
df_games["item_id"]=df_games["item_id"].astype("Int64")

df_games.head(1)

,item_name,item_id,developer,Action,Casual,Indie,Simulation,Strategy,Free to Play,RPG,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,Lost Summoner Kitty,761140,Kotoshiro,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ironbound,643980,Secret Level SRL,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

Union de los dataframe "df_games" y "df_items"

In [6]:
#union df_games con df_items con "item_name"
df_games_items=pd.merge(df_games,df_items, on="item_name", how="inner")

In [7]:
df_games_items.shape

(3146114, 29)

In [8]:
df_games_items.head(1)

,item_name,item_id_x,developer,Action,Casual,Indie,Simulation,Strategy,Free to Play,RPG,...,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting,item_id_y,playtime_forever,playtime_2weeks,user_id
0,Carmageddon Max Pack,282010,Stainless Games Ltd,1,0,1,0,0,0,0,...,0,0,0,0,0,0,282010,5,0,UTNerd24

Se eliminan columnas creadas adicionalmente, y se renombran para su optimizacion

In [9]:
columnas_eliminar=["item_id_x", "playtime_2weeks"]
df_games_items.drop(columnas_eliminar, axis=1, inplace=True)
df_games_items.rename(columns={"item_id_y":"item_id"}, inplace=True)

Se eliminan filas innecesarias, tomando valores que no son utiles para el resultado final o no implican en nuestro resumen final

In [10]:
df_games_items=df_games_items[df_games_items["playtime_forever"]!=0]

In [11]:
df_games_items.shape

(2143966, 27)

Se aplica un reestructuramiento a las columnas

In [12]:
columnas_ordenadas=["item_id", "item_name", "developer","user_id", "playtime_forever", "Action", "Casual", "Indie",
                    "Simulation", "Strategy", "Free to Play", "RPG", "Sports", "Adventure", "Racing", "Early Access",
                    "Massively Multiplayer", "Animation &amp; Modeling", "Video Production", "Utilities", "Web Publishing",
                    "Education", "Software Training", "Design &amp; Illustration", "Audio Production", "Photo Editing", 
                    "Accounting"]
df_games_items=df_games_items[columnas_ordenadas]

In [13]:
df_games_items.reset_index(drop=True)

,item_id,item_name,developer,user_id,playtime_forever,Action,Casual,Indie,Simulation,Strategy,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,282010,Carmageddon Max Pack,Stainless Games Ltd,saint556,13,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,282010,Carmageddon Max Pack,Stainless Games Ltd,chidvd,110,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,282010,Carmageddon Max Pack,Stainless Games Ltd,aerpub,13,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,282010,Carmageddon Max Pack,Stainless Games Ltd,lucifer666678,8,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2143961,80,Counter-Strike: Condition Zero,Valve,76561198208507532,203,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2143962,80,Counter-Strike: Condition Zero,Valve,76561198221578852,244,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2143963,80,Counter-Strike: Condition Zero,Valve,EnVyIsSmexy,7,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2143964,80,Counter-Strike: Condition Zero,Valve,76561198283312749,9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2143965,80,Counter-Strike: Condition Zero,Valve,76561198312638244,99,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_games_items.head(1)

,item_id,item_name,developer,user_id,playtime_forever,Action,Casual,Indie,Simulation,Strategy,...,Animation &amp; Modeling,Video Production,Utilities,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting
0,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Para mayor legibilidad del dataframe y el costo de trabajo, se decide eliminar las filas de los jugadores con mas de 100 horas jugadas por juego, de la columna "playtime_forever"

In [16]:
df_games_items=df_games_items.drop(df_games_items[df_games_items["playtime_forever"]>100].index)
df_games_items=df_games_items.reset_index(drop=True)

In [17]:
df_games_items.shape

(793271, 27)

################################

Revision y tratamienoto del tercer dataframe para su union

In [18]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item_id          59305 non-null  int64
 1   recommend        59305 non-null  bool
 2   user_id          59305 non-null  object
 3   sentiment_score  59305 non-null  int64
 4   posted_year      59305 non-null  int64
dtypes: bool(1), int64(3), object(1)
memory usage: 1.9+ MB

In [19]:
df_reviews.rename(columns={"item_id_x":"item_id"}, inplace=True)
df_reviews.head(2)

   item_id  recommend            user_id  sentiment_score  posted_year
0     1250       True  76561197970982479                2         2011
1    22200       True  76561197970982479                2         2011

Union del ultimo dataframe, para dejar uno solo con toda los datos necesarios

In [20]:
df_merged=pd.merge(df_games_items, df_reviews, on="user_id")

Se verifica la estructura de los datos, eliminando columnas repetidas y renombrandolas, dando formato para su correcta visualizacion

In [21]:
df_merged.columns

Index(['item_id_x', 'item_name', 'developer', 'user_id', 'playtime_forever',
       'Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Free to Play',
       'RPG', 'Sports', 'Adventure', 'Racing', 'Early Access',
       'Massively Multiplayer', 'Animation &amp; Modeling', 'Video Production',
       'Utilities', 'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting', 'item_id_y', 'recommend', 'sentiment_score',
       'posted_year'],
      dtype='object')

In [22]:
df_merged.rename(columns={"item_id_x":"item_id"}, inplace=True)
df_merged.drop(columns="item_id_y")

,item_id,item_name,developer,user_id,playtime_forever,Action,Casual,Indie,Simulation,Strategy,...,Web Publishing,Education,Software Training,Design &amp; Illustration,Audio Production,Photo Editing,Accounting,recommend,sentiment_score,posted_year
0,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,True,2,2014
1,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,True,2,2015
2,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,True,2,2015
3,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,True,2,2015
4,282010,Carmageddon Max Pack,Stainless Games Ltd,UTNerd24,5,1,0,1,0,0,...,0,0,0,0,0,0,0,True,2,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224071,80,Counter-Strike: Condition Zero,Valve,76561198082737449,6,1,0,0,0,0,...,0,0,0,0,0,0,0,True,2,2014
1224072,80,Counter-Strike: Condition Zero,Valve,toinhoto,17,1,0,0,0,0,...,0,0,0,0,0,0,0,True,2,2014
1224073,80,Counter-Strike: Condition Zero,Valve,toinhoto,17,1,0,0,0,0,...,0,0,0,0,0,0,0,True,2,2014
1224074,80,Counter-Strike: Condition Zero,Valve,toinhoto,17,1,0,0,0,0,...,0,0,0,0,0,0,0,True,2,2014
1224075,80,Counter-Strike: Condition Zero,Valve,76561198087633253,57,1,0,0,0,0,...,0,0,0,0,0,0,0,False,2,2014

Estructuracion final de las columnas

In [23]:
columnas_ordenadas2=['item_id', 'item_name', 'developer', 'user_id', 'playtime_forever',
       'recommend', 'sentiment_score', 'posted_year','Action', 'Casual', 'Indie', 'Simulation', 'Strategy', 'Free to Play',
       'RPG', 'Sports', 'Adventure', 'Racing', 'Early Access',
       'Massively Multiplayer', 'Animation &amp; Modeling', 'Video Production',
       'Utilities', 'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting' ]
df_merged=df_merged[columnas_ordenadas2]

In [24]:
df_merged.shape

(1224076, 30)

Se Guarda el dataframe en nuevo CSV optimizado

In [ ]:
#
df_merged.to_csv(".\DataSets-Clean\Df_Merged.csv",index=False)

# Para su posterior uso en plataformas como GitHub y Render, se reduce el tamaño del archivo df_merged.csv

In [ ]:
df_reducido=pd.read_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Clean\Df_Merged.csv", encoding="utf-8")
#

In [ ]:
# Crear un nuevo DataFrame con una muestra aleatoria de 50 mil filas
df_reducido_final = df_reducido.sample(n=50000, random_state=42)

In [ ]:
df_reducido_final.shape

In [ ]:
df_reducido_final.to_csv(r"C:\Users\Usuario\Desktop\ProyectoIndividual\DataSets-Clean\df_reducido_final.csv")